@import '../../components/styles/media.scss';

.gpt3__features {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &_heading {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        text-align: left;
        margin-right: 5rem;

        h1 {
            font-family: var(--font-family);
            font-weight: 800;
            font-size: 34px;
            line-height: 45px;
        }

        p {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            color: #FF8A71;
            margin-top: 2rem;
        }
    }

    &_container {
        flex: 1.5;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

}

@include createMediaScreen(990) {
    .gpt3__features {
        flex-direction: column;

        &_heading {
            margin: 0 0 2rem 0;
        }
    }
}

@include createMediaScreen(550) {
    .gpt3__features_heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}